ul {
            list-style: none;
            text-align: center;
            padding-inline-start: 0px;
        }
        a {
            text-align: center;
            text-decoration: none;
        }
        body {
            text-align: center;
        }
        h1 {
            font-size: 32px;
        }
        h2 {
            font-size: 28px;
        }